.services__section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-image: url('../assets/images/bg1.jpg');
    background-position: center;
    background-size: contain;
    position: relative;
}

.services__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.services__container {
    width: 100%;
    max-width: 1200px;
    gap: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2;
}

.service__item {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 318px;
    height: 177px;
    background-size: cover;
    background-position: center;
}

.service__item-title {
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}


/* MEDIAQUERIES */
@media only screen and (max-width:992px) {

    .services__section {
        padding: 68px 0;
    }

    .services__container {
        gap: unset;
    }

    .service__item {
        width: 239px;
        height: 135px;
    }

    .service__item-title {
        font-size: 14px;
    }
}

@media only screen and (max-width:768px) {

    .services__section {
        padding: 45px 0;
    }

    .service__item {
        width: 181px;
        height: 103px;
    }

    .service__item-title {
        font-size: 11px;
        font-weight: 700;
    }
}

@media only screen and (max-width:576px) {

    .services__section {
        padding: 30px 0;
    }

    .services__container {
        flex-direction: column;
        gap: 10px;
    }

    .service__item {
        width: 265px;
        height: 135px;
    }

    .service__item-title {
        font-size: 16px;
    }

}