.services {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 30px 10px;
    background-color: black;

}

.service__item {
    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: brown;
    width: 294px;
    height: 80px;
}

.service__item span img {
    width: 70px;
}

.service__item h3 {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

/* MEDIAQUERIES */
@media only screen and (max-width:992px) {

    .services {
        padding: 20px 7px;
    }

    .service__item {
        width: 210px;
    }


    .service__item span img {
        width: 55px;
    }

    .service__item h3 {
        font-size: 14px;
    }

}

@media only screen and (max-width:768px) {

    .services {
        padding: 17px 2px;
        gap: 15px;
    }

    .service__item {
        width: 170px;
    }

    .service__item span img {
        width: 48px;
    }

    .service__item h3 {
        font-size: 12px;
    }

}

@media only screen and (max-width:576px) {

    .services {
        flex-direction: column;
    }

    .service__item {
        width: 250px;
    }

    .service__item span img {
        width: 55px;
    }

    .service__item h3 {
        font-size: 14px;
    }
    
}