.service__item {
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: brown;
}

.service__item span img {
    border-radius: 50px;
    width: 80px;
}

.service__item h3 {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

/* MEDIAQUERIES */
@media only screen and (max-width:992px) {

}

@media only screen and (max-width:768px) {

}

@media only screen and (max-width:576px) {

}