.product__item {
    cursor: pointer;
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__img img {
    width: 200px;
    
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__info h3 a {
    font-size: 1.2rem;
    font-weight: 600;
    color: brown;
    margin-top: 15px;
}

.product__info a:hover {
    color: inherit;
}

.product__info span {
    font-size: 0.9rem;
}

.product__card-bottom {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.product__card-bottom .price {
    color: blueviolet;
    font-size: 1.3rem;
    font-weight: 600;
}

.more_icon {
    background-color: green;
    color: white;
    border-radius: 50px;
    padding: 5px;
    font-size: 1.2rem;
}

/* MEDIAQUERIES */
@media only screen and (max-width:992px) {

}

@media only screen and (max-width:768px) {

}

@media only screen and (max-width:576px) {

}