/* HERO */

.hero__section {
    height: calc(100vh - 70px);
    width: 100%;
    background-size: cover;
    background-position: center;

}

.hero__section h1 {
    color: thistle;
    text-align: center;

    font-size: 50px;
    font-weight: 700;

}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* margin-top: 39%; */
    gap: 10px;
    /* margin-left: 65px; */
}

.hero__content h2 {
    color: thistle;
    font-size: 35px;
    font-weight: 600;
    /* margin: 20px 0; */
    text-align: center;
}

.hero__content p {
    color: tan;
    line-height: 28px;
    font-weight: 500;
    font-size: 18px;
    font-weight: 600;
}

.hero__content .buy__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: thistle;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

.buy__btn a:hover {
    color: wheat;
}

/* TENDENCIA */

.trending__products,
.best_sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    width: 100%;
    gap: 40px;

}

.trending__content,
.sales__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 25px;
}

.trending__products h2,
.best_sales h2 {
    text-align: center;
}

/* TIMER */

.timer__count {
    background-color: skyblue;
    padding: 20px 16px;
    width: 100%;
    display: flex;

}

.timer__content {
    display: flex;
    max-width: 1200px;
    align-items: center;
    width: 100%;
}

.clock__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    width: 50%;
}

.clock__down h4 {
    font-size: 20px;
}

.clock__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: thistle;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

.clock__btn a:hover {
    color: wheat;
}

.counter__img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.counter__img img {
    width: 400px;
}



/* MEDIAQUERIES */
@media only screen and (max-width:992px) {


    .hero__section {
        /* background-size: contain; */
        height: 70vh;
    }

    .hero__section h1 {
        font-size: 40px;
    }

    .hero__section h2 {
        font-size: 28px;
    }

    .hero__content p {
        font-size: 16px;
    }

    .hero__content .buy__btn {
        padding: 7px 10px;
        font-size: 16px;
    }


    /* TIMER */

    .clock__down h4 {
        font-size: 18px;
    }

    .clock__btn {
        padding: 5px 10px;
        font-size: 15px;
    }

    .counter__img img {
        width: 300px;
    }




}

@media only screen and (max-width:768px) {

    .hero__section {
        height: 50vh;
    }

    /* TIMER */

    .clock__down h4 {
        font-size: 15px;
    }

    .clock__btn {
        padding: 5px 10px;
        font-size: 13px;
    }

    .counter__img img {
        width: 250px;
    }




}

@media only screen and (max-width:576px) {

    /* HERO */

    .hero__section {
        height: 40vh;
    }

    .hero__section h1 {
        font-size: 25px;
    }

    .hero__section h2 {
        display: none;
    }

    .hero__content p {
        font-size: 14px;
    }

    .hero__content .buy__btn {
        padding: 4px 7px;
        font-size: 12px;
    }

    /* TENDENCIA */

    .trending__content,
    .sales__content {
        overflow-y: scroll;
        height: 290px;
        gap: unset;
        row-gap: 28px;
    }

    /* TIMER */

    .timer__content {
        flex-direction: column;
        row-gap: 11px;
    }

    .clock__down {
        row-gap: 20px;
    }

    .clock__down h4 {
        text-align: center;
        font-size: 18px;
    }

    .clock__btn {
        padding: 7px 10px;
        font-size: 15px;
    }

    .counter__img {
        justify-content: center;
    }
}