.hero__section {
    height: calc(100vh - 80px);
}

.hero__section h1 {
    color: thistle;
    text-align: center;
    margin-top: 52%;
    font-size: 50px;
    font-weight: 700;
    margin-right: 65px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 39%;
    gap: 10px;
    margin-left: 65px;
}

.hero__content h2 {
    color: thistle;
    font-size: 35px;
    font-weight: 600;
    /* margin: 20px 0; */
    text-align: center;
}

.hero__content p {
    color: tan;
    line-height: 28px;
    font-weight: 500;
    font-size: 18px;
    font-weight: 600;
}

.hero__content .buy__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: thistle;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

.buy__btn a:hover {
    color: wheat;
}

.hero__content {
    padding-top: 45px;
}

.trending__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.timer__count {
    background-color: skyblue;
    padding: 5px 30px;
}

.timer__count img {
    width: 70%;
    object-fit: contain;
}

.store__btn {
    background-color: white;
    color: black;
    font-weight: 600;
}

.store__btn a:hover {
    color: black;

}

.clock__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock__top-content {
    margin-top: 25px;
}

.clock_btn {
    margin-top: 15px;
}

.counter__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* MEDIAQUERIES */
@media only screen and (max-width:992px) {
    .hero__content h2 {
        font-size: 2rem;
    }

    .section__title {
        font-size: 1.7rem;
    }

    .counter__img {
        display: none;
    }

    .clock__top-content {
        text-align: center;
    }

    .clock__top-content h4 {
        font-size: 0.9rem !important;
    }

    .clock__top-content h3 {
        font-size: 1rem !important;
    }

    .count__down-col {
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .hero__content h2 {
        font-size: 1.6rem;
    }

    .hero__content p {
        font-size: 0.9rem;
    }

    .buy__btn a {
        font-size: 0.9rem;
    }

    .section__title {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:576px) {
    .hero__content {
        padding-top: 0;
        margin-bottom: 40px;
    }
}