.checkout__section {
    display: flex;
    width: 100%;

    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/bg1.jpg);
    align-items: center;
    height: calc(100vh - 70px);
}

.checkout__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.checkout-title {
    padding: 50px 0;
}

.billing__container,
.buys__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    padding: 20px 0;
    justify-content: center;
    border-radius: 1rem;
}

.buys__container {
    height: 350px;
}

.billing__container {
    gap: 20px;
}

.billing__container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.form__group-check input {
    padding: 5px 7px;
    font-size: 15px;
    width: 400px;
}

.check__btn {
    font-size: 14px;
    padding: 5px 12px;
    margin-top: 12px;
    cursor: pointer;
}

.buys__container-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.billing__container-title {
    margin-bottom: 11px;
    text-align: center;
}

h6 {
    font-size: 16px;
}

h6 span {
    font-weight: 600;
}

.buys__container-cart p {
    font-size: 14px;
    color: green;
    font-weight: 600;
    margin-top: -9px;
}

.buys__container-cart h4 {
    font-size: 18px;
    font-weight: 800;
    margin-top: 8px;
}

.form__group-check {
    display: flex;
    flex-direction: column;
}

.form__group-check .is-invalid {
    border-color: red;
}

.form__group-check .invalid-feedback {
    color: red;
}

/* MEDIAQUERIES */

@media only screen and (max-width:992px) {

    .checkout__section {
        padding: 18px 30px;
    }

    .checkout__container {
        gap: 10px;
    }

    .form__group-check input {
        width: 320px;
    }

}

@media only screen and (max-width:768px) {

    .checkout__section {
        padding: 15px 18px;
    }

    .form__group-check input {
        width: 243px;
        font-size: 13px;
    }

    h6 {
        font-size: 14px;
    }

    .buys__container-cart p {
        font-size: 14px;
    }

    .buys__container-cart h4 {
        font-size: 16px;
    }
}

@media only screen and (max-width:576px) {

    .checkout__section {
        height: unset;
        padding: 70px 0;
    }

    .checkout__container {
        flex-direction: column;
        align-items: center;
    }

    .checkout-title {
        padding: 30px 0;
    }

    .billing__container-title {
        font-size: 20px;

    }

    .billing__container,
    .buys__container {
        width: 95%;
    }

    .form__group-check input {
        width: 224px;
    }
}