header {
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav__item a {
    font-weight: 500;
    cursor: pointer;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.nav__icons span i {
    font-size: 1.2rem;
    cursor: pointer;
}

.cart__icon,
.fav__icon {
    position: relative;
    cursor: pointer; 
}

.badge {
    position: absolute;
    top: 26%;
    right: -14px;
    height: 18px;
    content: "";
    z-index: 10;
    background-color: rebeccapurple;
    color: aliceblue;
}
.nav__icons .profile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}



.nav__icons .profile {
    position: relative;
    z-index: 9;
}

.nav__icons .profile .profile__actions {
    position: absolute;
    top: 98%;
    left: 0;
    width: 150px;
    z-index: 10;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightskyblue;
    line-height: 30px;
    display: none;
    cursor: pointer;
}

.show__profileActions {
    display: block !important;
}


.mobile__menu {
    font-size: 1.3rem;
    display: none;
}

.nav__active {
    font-weight: 600 !important;
}

.sticky__header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px grey;
    background-color: bisque;
}

/* MEDIAQUERIES */

@media only screen and (max-width:768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: white;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .active__menu {
        display: block;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu span i {
        font-size: 1.1rem !important;
    }

    .fav__icon i,
    .cart__icon i {
        font-size: 1.2rem !important;
    }

    .nav__icons span img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .header {
        width: 100%;
        height: 90px;
        line-height: 60px;
    }
}