.footer__section {
    padding: 15px 10px 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;


    width: 100%;
}

.footer__container {
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
}

.footer__section h3 {
    font-size: 25px;
    color: black;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
}

.contacto,
.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes {
    gap: 5px;
}

p {
    text-align: center;
}

.nombre {
    width: 100%;
}

.nombre p {
    border-top: 1px solid black;
    padding-top: 3px;
    color: black;
    font-size: 12px;
}

.redes p a,
.contacto p {
    color: gray;
    font-size: 15px;
}

.contacto h4,
.redes h4 {
    font-size: 20px;
    border-bottom: 1px solid brown;
    margin-bottom: 5px;
    color: brown;
}

.contacto h6 {
    font-size: 14px;
    color: brown;
}


@media only screen and (max-width: 768px) {

    .info {
        gap: 80px;
    }

}

@media only screen and (max-width: 576px) {

    .info {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

}