/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
    /* --card-bg-01: #fdefe6; */

}

/* reset browser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.section__title {
    color: #0a1d37;
    /* font-weight: 600; */
}