.buy__btn[disabled] {
    cursor: not-allowed;
}

.buy__btn a {
    text-decoration: none;
}

.buy__btn[disabled] a {
    pointer-events: none;
    color: inherit;
}

.table tr td img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
}

td i {
    cursor: pointer;
}

td,
th {
    color: black;
}