.cart__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.cart__container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

h2 {
    text-align: center;
}

.cart__container-top {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buy__btn[disabled] {
    cursor: not-allowed;
}

.buy__btn a {
    text-decoration: none;
}

.buy__btn[disabled] a {
    pointer-events: none;
    color: inherit;
}

.modal-cart-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.misproductos {
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.bordered {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.table__body {
    display: flex;
}

.table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}

.table tr td img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

td i {
    cursor: pointer;
}

td,
th {
    color: black;
}

.btns__quantity {
    display: flex;
    gap: 5px;
}

.btns__quantity .btn__quantity {
    border-radius: 5px;
    border: none;
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash {
    cursor: pointer;
    display: flex;
}

.increment {
    background-color: rgb(38, 58, 8);
}

.decrement {
    background-color: rgb(95, 80, 80);
}

.decrement[disabled] {
    cursor: not-allowed;
}

h6 {
    text-align: end;
}

h6 span {
    margin-left: 2px;
    padding-right: 10px;
}

@media only screen and (max-width: 576px) {

    h2 {
        font-size: 15px;
    }

    .cart__container {
        padding: 4px;
    }

    .bordered {
        /* display: flex; */
        align-items: stretch;
        /* padding: 10px; */
    }

    .table td,
    span,
    .btn__quantity-icon {
        font-size: 12px;
    }

    /* .bordered-title {
        display: flex;
    } */

    .table tr td img {
        width: 40px;
        height: 40px;
    }

    .btns__quantity .btn__quantity {
        padding: 2px;

    }

    .cart__container-bottom-buttons {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        gap: 5px;
        padding-top: 8px;
    }


}