


.cart__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.cart__container {
    width: 100%;
    max-width: 1200px;
    padding: 15px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    text-align: center;
}

.cart__container-top {
    width: 70%;
    display: flex;
    justify-content: center;
}

.buy__btn[disabled] {
    cursor: not-allowed;
}

.buy__btn a {
    text-decoration: none;
    padding: 3px 5px;
}

.buy__btn[disabled] a {
    pointer-events: none;
    color: inherit;
}

.modal-cart-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 400px;
}

.misproductos {
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: stretch;
    margin: 10px 0 5px 0;
}

/* .bordered {
    display: flex;
    align-items: center;
    padding: 10px 5px;
} */

.td-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}




.td-container .td-top,
.td-container .td-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-container.td-top {
    gap: 6px;
}

.td-container .td-bottom {
    gap: 8px;
}

.table__body {
    display: flex;
}

.table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}

.table tr td img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

td i {
    cursor: pointer;
}

td,
th {
    color: black;
    display: flex;
}

.btns__quantity {
    display: flex;
    gap: 5px;
    align-items: center;
}

.btns__quantity .btn__quantity {
    border-radius: 5px;
    border: none;
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash {
    cursor: pointer;
    display: flex;
}

.increment {
    background-color: rgb(38, 58, 8);
}

.decrement {
    background-color: rgb(95, 80, 80);
}

.decrement[disabled] {
    cursor: not-allowed;
}

h6 {
    font-size: 15px;
}

/* h6 span {
    margin-left: 2px;
    padding-right: 10px;
} */

.cart__container-bottom-buttons {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px;
    padding-top: 8px;
    align-items: center;
}

.cart__buttons {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    gap: 10px;
    align-items: center;
}

.checkout {
    border-top: 1px solid black;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.clear-cart-button {
    padding: 4px 6px;
    font-size: 10px;
    background: none;
    display: flex;
}

.clear-cart-button:hover {
    cursor: pointer;
}

.checkout-button {
    padding: 6px 8px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    margin-top: 10px;
}

.clear-cart-button,
.checkout-button {
    border-radius: 5px;
    border: none;
}

.checkout-btn {
    display: flex;
    justify-content: center;
    width: 90%;
    border-top: 1px solid black;
    margin-top: 10px;
}

.subtotal {
    font-size: 16px;
    font-weight: 600;
}

/* MEDIAQUERIES */

@media only screen and (max-width:992px) {

    .cart__container-top {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {

    .modal-cart-content {
        width: 350px;
    }

    .cart__container-top {
        width: 90%;
    }

    .table tr td img {
        width: 60px;
        height: 60px;
    }

    .table td,
    span,
    .btn__quantity-icon {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {

    h2 {
        font-size: 15px;
    }

    .cart__container {
        padding: 4px;
    }

    .cart__container-top {
        width: 100%;
    }

    .bordered {
        /* display: flex; */
        align-items: stretch;
        /* padding: 10px; */
    }

    .table td,
    span,
    .btn__quantity-icon {
        font-size: 12px;
    }

    /* .bordered-title {
        display: flex;
    } */

    .table tr td img {
        width: 40px;
        height: 40px;
    }

    .btns__quantity .btn__quantity {
        padding: 2px;

    }

    .modal-cart-content {
        width: 270px;
    }

    .buy__btn a {
        font-size: 10px;
    }

    .td-bottom {
        gap: 3px;
    }

    .btns__quantity {
        gap: 2px;
    }

    .subtotal {
        font-size: 12px;
        
    }

}